{% extends 'base.html' %}

{% block content %}
<main class="content">
  <aside class="filter-container">

    <h2>Update Database</h2>

    <form action="{{ url_for('update_sponsors') }}" method = "POST">

      <div class="filter-input-container">
        <label for="id">Sponsor ID</label>
        <input type="text" name="id"
               placeholder="1" class="form-control"
               value="{{ request.form['id'] }}"></input>
    </div>

    <div class="filter-input-container">
      <label for="service_id">Sponsor Service ID</label>
      <input type="text" name="service_id"
             placeholder="1" class="form-control"
             value="{{ request.form['service_id'] }}"></input>
  </div>

  <div class="filter-input-container">
    <label for="name">Sponsor Name</label>
    <input type="text" name="name"
           placeholder="Adike" class="form-control"
           value="{{ request.form['name'] }}"></input>
</div>

  <div class="filter-input-container">
    <label for="email">Email</label>
    <input type="text" name="email"
           placeholder="Pumanike@yahoo.com" class="form-control"
           value="{{ request.form['email'] }}"></input>
</div>

<div class="filter-input-container">
  <label for="phonenumber">Phone number</label>
  <input type="text" name="phonenumber"
         placeholder="503-503-5003" class="form-control"
         value="{{ request.form['phonenumber'] }}"></input>
</div>


    <div class="form-group">
      <form action="{{ url_for('add_sponsors') }}" method="POST">
        <input type="submit" value="Update"
                class="btn-danger-btn-sm">
    </form>

    </form>
   </div>
   
  </form>
  </aside>
  
 <div class="table-container">
   
  <div class="insert-container">
    <form action="{{ url_for('add_sponsors') }}" class= 'insert-button' method = "POST">

    <div class="form-group">
      <label for="service_id">Service ID</label>
      <input type="text" name="service_id"
             placeholder="1" class="form-control"
             value="{{ request.form['service_id'] }}"></input>
  </div>

  <div class="form-group">
    <label for="name">Sponsor Name</label>
    <input type="text" name="name"
           placeholder="Adike" class="form-control"
           value="{{ request.form['name'] }}"></input>
</div>

<div class="form-group">
  <label for="email">Sponsor Email</label>
  <input type="text" name="email"
         placeholder="Pumanike@yahoo.com" class="form-control"
         value="{{ request.form['email'] }}"></input>
</div>

    <div class="form-group">
      <label for="phonenumber">Phone number</label>
      <input type="text" name="phonenumber"
             placeholder="971-971-9701" class="form-control"
             value="{{ request.form['phonenumber'] }}"></input>
  </div>

    <div class="form-group">
      <label for="submit"></label>
      <button  class="form-insert" type="submit" >Insert</button>
  </div>
    </form>
   </div>
  </form>
      <table class="tb">
        <tr>
          <th>Sponsor ID</th>
          <th>Sponsor Service ID</th>
          <th>Sponsor Name</th>
          <th>Sponsor Email</th>
          <th>Sponsor Phone Number</th>
          <th>Options</th>
        </tr>
        {% if (data is defined) and data %} {% for item in data %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
          <td>{{ item[3] }}</td>
          <td>{{ item[4] }}</td>
          <td>
            <form action="{{ url_for('delete_sponsors', id=item[0]) }}" method="POST" class = delete-btn>
              <input type="submit" value="Delete"
                      class="btn-delete"
                      onclick="return confirm('Are you sure you want to delete this entry?')">
          </form>
          
        </tr>

        {% endfor %} {% else %}
        <td>NULL</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>NULL</td>
        <td>
          <button id="filter-update-button" class="action-button">Delete</button></td>
        {% endif %}

      </table>
        </div>

    </main>

  </body>
</html>
{% endblock %}